body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(173, 216, 230);
}

.div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(35, 198, 190);
  border-radius: 5%;
  padding: 5px;
  border-style: solid;
}

.titlediv {
  font-size: 4rem;
}

.numberdiv {
  margin-top: 80px;
  font-size: 4rem;
}

.buttondiv {
  margin-top: 80px;
}

button {
  margin-right: 15px;
  font-size: 3rem;
  border-radius: 10px;
}

.buttonwidth {
  width: 4rem;
}
